<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.repository.RefreshTokenRepository">

    <select id="existRefresh" resultType="boolean">
        SELECT COUNT(*) > 0 FROM t_auth_refresh WHERE REFRESH_TOKEN = #{refresh_token}
    </select>

    <delete id="deleteByRefresh">
        DELETE FROM t_auth_refresh WHERE REFRESH_TOKEN = #{refresh_token}
    </delete>

    <insert id="saveRefresh" parameterType="com.pro.model.entity.RefreshEntity">
        insert into t_auth_refresh (email,
                                    refresh_token,
                                    refresh_expiration,
                                    access_token,
                                    access_expiration)
        values (#{email},
                #{refresh_token},
                #{refresh_expiration},
                #{access_token},
                #{access_expiration})
    </insert>


</mapper>